body{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin: 0% ;
}
.header{
    color:whitesmoke;
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    background-image: url(donate-today-main/donate-today-main/images/donation6.jpg);
    background-position: cover;
    height: 100vh;
    
    

}
.btn{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.donate-today{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.donation-amount{
    display: flex;
    justify-content: space-around;
}
input{
    margin: 40px 0 25px 0;
    font-size: 20px;
    border: none;
    outline: none;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid gray;
    transition: .3s linear;
    width: 80%;
}
.input-btn{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;
}
.boxed-taka{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25PX;
    padding-right: 25px;
    width: 350%;
    height: 100%;
    text-align: center;
    border-radius: 5px;

}
#orange{
    border: 2px solid tomato;
    color: tomato;
}
.seeking-help{
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%
    
}
.help-section{
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    text-align:center;
    margin: 5%;
}
.food-sector{
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    box-shadow: 10px 10px 40px gray;
    background-color: lightcyan;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
    weight: 400%;
}
.shelter-sector{
    font-size: 14px;
    font-weight: 400;
    box-shadow: 10px 10px 40px gray;
    background-color: pink;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    weight:400%
    
}
.education-sector{
    font-size: 15px;
    font-weight: 400;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color:cornsilk ;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    weight: 400%
}
.half-width{
    display: flex;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    
    

}
.need-donation-description{
    font-size: 20px;
    font-weight: 400;padding-right: 5%;
    margin-right: 5%;
}



    
    




    
    
